* {
    font-family: Arial, Helvetica, sans-serif;
}

.cabecalho {
    padding: 5px 15px;
    height: auto;
    background-color: rgb(107, 152, 248);
    border-radius: 2px;
    border-color: rgb(109, 155, 255);;
    border-bottom: 2px solid rgb(100, 149, 255);;
    border-width: 2px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

p {
    margin: 0px;
    font-family: 'Courier New', Courier, monospace;
    color: black;
}

.a1 {
    font-size: 25px;
}

.lista {
    cursor: pointer;
}

.botao {
    border-style: none;
    font-size: 20px;
}

td {
    padding-right: 10px;
}

.direita, .main, .esquerda {
    padding: 10px;
color: rgb(30, 68, 151);;
}

.a1, .cabecalho, .logo2, .perfil, .pc {
    display: flex;
}

.c1, .c2, .c3 {
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    color: white;
}

.c1 {
    background-color: rgb(0, 17, 255);
}

.c2 {
    background-color: chartreuse;
}

.c3 {
    background-color: crimson;
}

.caixas {
    display: flex;
}

.pie-chart {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      background: conic-gradient(
        #ff6384 0deg 108deg, 
        #36a2eb 108deg 288deg, 
        #ffce56 288deg 360deg
      );
}

.logo2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.perfil {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    margin-left: auto;
}

.logo {
    text-align: center;
    font-size: 30px;
}

ul {
    list-style-type: none;
}

.letra {
    color: rgb(21, 0, 247);
}
