header {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    padding: 20px;
    height: auto;
    border-radius: 2px;
    background-color: rgb(197, 206, 255);
    color: rgb(0, 0, 0);
    border-width: 2px;
    border-color: rgb(153, 153, 153);
    border-style: solid;
    font-size: 18px;
    align-items: left;
    display: flex;
    gap: 1px;
}

.secao {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    background: linear-gradient(to bottom, #000000, #3f72ff);
    height: auto;
    padding: 20px;
    color: white;
}

.letra2 {
    color: rgb(0, 108, 250);
}

.h1logis {
    font-size: 100px;
}