header {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    padding: 10px;
    height: auto;
    border-radius: 2px;
    background-color: rgb(251, 60, 2);
}

.secao {
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    background: linear-gradient(to bottom, #1fd3fb, #0136c8);
    height: auto;
    padding: 10px;
    color: white;
}
